
body {
    height: 100vh;
    margin:0;
    font-family: 'Poppins', arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

img{width: 100%;}

.nav-container {
    background: #6700EE;
    
    a {
        color: white;

    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: #00F7FF;
        font-weight: bold;

    }


    ul {
        display: flex;
    }

    a {
        display: block;
        padding: 0 1em;
    }
}

.social-header {
    display: none;
}

.hero {
    background: #6E00FF;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    display:flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #FF64CB;

    span {
        margin-top: 1em;
        margin-right: .5em;
    }

    
}

section {
    padding: 4em 2em;
    text-align: center;
}

.about {
    position: relative;
}

.about::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #E5D5FA;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2em;
}
.featured-desc {
    color: #252525;
    margin-bottom: 3em;
    font-size:.9em;
    line-height: 1.8em;
    font-weight: 400;
}

.skills {
    background: #FF64CB;

}

.skills-container ul li {
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
        height: 100px;
        display: grid;
        align-content: center;
        justify-content: center;
        margin: 0 auto;

    }
}

.skill-title {
    font-weight: bold;

}

.featured-desc {
    margin-bottom: 2em;
}

.responsive {
    max-width: 50%;
    height: auto;
  }

  .portfolio {
    background: #F7F7F7;
  }

  .portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
  }

  //Toggle
  .hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #FF64CB;

}

.nav-link {
    transition: 0.7s ease;
}


@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    #hamburger.active .bar:nth-child(2) {
        opacity: 0;

    }

    #hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        
    }

    #hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        
    }



    

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: #6700EE;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;

    }


    .active {
        left: 0;
    }

}